@model MovieRental.ViewModels.MovieFormViewModel
@{
    ViewBag.Title = "MovieForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "Movies"))
{
  <form>
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control"})
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ReleaseDate)
        @Html.TextBoxFor(m => m.ReleaseDate, "{0: d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ReleaseDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.GenreId)
        @Html.DropDownListFor(m => m.GenreId, new SelectList(Model.Genres, "Id", "Name"), "Select Genre", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.GenreId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NumberInStock)
        @Html.TextBoxFor(m => m.NumberInStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NumberInStock)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AgeRating)
        @Html.TextBoxFor(m => m.AgeRating, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
  </form>  

    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-primary" id="newMovieBtn">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
<script>

    $(document).ready(function () {
        //toastr.info('Page Loaded!');
        //$("#newMovieBtn").click(function () {
        //    toastr.success("Movie has been succesfully saved.");            
        //});




        var validator = $("#newRental").validate({
            submitHandler: function () {
                $.ajax({
                    url: "/api/newRentals",
                    method: "post",
                    data: vm
                })
                    .done(function () {
                        toastr.success("Rental succesfully recorded.")

                        $("#customer").typeahead("val", "");
                        $("#movies").empty();
                        $("#movie").typeahead("val", "");

                        vm = { movieIds: [] };

                        validator.resetForm();
                    })
                    .fail(function () {
                        toastr.error("Something unexpected happened.")
                    });

                return false;
            }
        });
            

    });
    </script>
}

